/ir_sensor/ir_sensor/Debug
/ir_sensor/ir_sensor/ir_sensor.componentinfo
/ir_sensor/.vs
/main_unit/main_unit/Debug
/main_unit/main_unit/main_unit.componentinfo
/main_unit/.vs
/mem_unit/mem_unit/Debug
/mem_unit/mem_unit/mem_unit.componentinfo
/mem_unit/.vs
